{% extends 'base.html.twig' %}
{% block title%} {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row gy-3">
            {% for pizza in pizzas %}
                <div class="col-12 col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{{ pizza.picture }}" alt="Card image cap" style="height: 200px">
                        <div class="card-body">
                            <h5 class="card-title">{{ pizza.name }}</h5>
                            <a href="{{ path('app_order_pizza', {id: pizza.id}) }}" class="btn btn-primary">Order pizza</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}