{% extends 'base.html.twig' %}
{% block title%} {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="container">
    <h2>Je bestelling is geplaatst!<h2>

    </div>
{% endblock %}